@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@layer base {
    ::-webkit-scrollbar {
        @apply w-1;
    }

    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-red-600 hover:bg-red-700;
    }

    body {
        @apply bg-neutral-900;
    }
}

@layer components {
    .navlink {
        @apply text-neutral-200 text-xs lg:text-base transition-opacity duration-300 hover:opacity-75;
    }

    .navlink-dropdown {
        @apply text-neutral-200 px-10 py-3 block;
    }

    .navlink.active {
        @apply font-bold hover:opacity-100 cursor-default;
    }

    .row-button {
        @apply hidden sm:inline-block text-neutral-200 from-neutral-900 to-transparent h-[calc(100%-32px)] px-4 absolute z-20 top-1/2 -translate-y-1/2 hover:bg-neutral-900/75;
    }

    .grey-border {
        text-shadow: 2px 0 0 rgb(115 115 115), -2px 0 0 rgb(115 115 115),
            0 2px 0 rgb(115 115 115), 0 -2px 0 rgb(115 115 115),
            1px 1px rgb(115 115 115), -1px -1px 0 rgb(115 115 115),
            1px -1px 0 rgb(115 115 115), -1px 1px 0 rgb(115 115 115);
    }

    .animate-expand {
        animation: expand 0.2s ease;
    }

    @keyframes expand {
        from {
            @apply mt-52 opacity-0;
        }
        to {
            @apply mt-0 opacity-100;
        }
    }

    .no-scrollbar::-webkit-scrollbar {
        @apply w-0 h-0;
    }

    .no-scrollbar {
        scrollbar-width: none;
    }

    .clamp {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}
